<style>
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
</style>

<nav class = "start-up-nav">
<h1 class= "nav_title">G O A L S</h1>
<div class = "log_in_container">
<p>Email <input> </p>
<p>Password <input> </p>
<button class = "log_in_btn">Log in </button>
 </div>

</nav>


<div class = "mega-container">


  <div class="content-container">
  
    
 
    <div class = "punch-line-container">
    <p class="quote">LOSERS LET  IT HAPPEN; WINNERS MAKE IT HAPPEN! <%= link_to "Sign Up!", signup_path %></p>
    
    </div>
  </div>



</div>
