html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: rgb(245, 230, 149);
  margin-top: 0;
}

.email-input {
  margin-right: 10px;
}

.start-up-nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin: 0;
  height: 7vh;
  width: 100%;
  flex-direction: row;
}

.nav_cont {
  color: blue;
  display: flex;
  z-index: 3;
  justify-content: flex-start;
  width: 100%;
}

.mid-cont {
  display: flex;
  padding: 1rem;
  font-size: 1.5rem;
  margin-left: 25rem;
}

.nav_contents {
  margin-left: 1rem;
}

.nav_title {
  font-family: "Permanent Marker", cursive;
  color: white;
  padding-top: 0.2rem;
  padding-left: 1rem;
  font-size: 2.5rem;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.log_in_container {
  display: flex;
  margin-right: 1rem;
  flex-direction: row;
}

.login_form {
  display: flex;
  margin: 10px;
}

p {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.log_in_btn {
  height: 2rem;
  margin-top: 0.5rem;
  background-color: rgb(77, 74, 74);
  color: white;
  margin-left: 10px;
  border-radius: 3px;
}

button:hover {
  border: 5px solid black;
  outline: 3px solid white;
}

.mega-container {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.content-container {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
}

.sign-up-container {
  height: 15rem;
  margin-top: 2rem;
  width: 28rem;
  height: 40rem;
  outline: 1px solid black;
}
.punch-line-container {
  height: 15rem;
  margin-top: 2rem;
  width: 28rem;
  height: 40rem;
  outline: 1px solid black;
  color: white;
  font-family: "Permanent Marker", cursive;
  font-size: 3rem;
  background-color: black;
  box-shadow: black 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-shadow: 50px 40px 10px 0 rgb(12, 12, 12);
  border: white solid 3px;
  flex-direction: column;
}

.quote {
  align-content: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.sga {
  text-decoration: none;
  color: black;
}
.sign_up_btn {
  margin-top: 0.5rem;
  background-color: rgb(250, 249, 249);
  color: white;
  margin-left: 10px;
  width: 18rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.sgnup-whl {
  display: flex;
  flex-direction: row;
}

.sgnup_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 25vw;
  border: black solid 3px;
  margin-top: 2.5rem;
  border-radius: 5px;
}

.sgnup_field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 50vh;
  margin-bottom: 0;
}

.sign_up_container {
  display: flex;
  justify-content: center;
}

.sgnup_div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.sgnup_input {
  width: 17rem;
  height: 30px;
  margin-top: 0.5rem;
  border-radius: 15px;
  padding: 5px;
  font-size: 1rem;
}

.sgnup_final_btn {
  width: 12rem;
  height: 3.3rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  background-color: black;
  color: white;
}

.new_task_whole {
  display: flex;
  justify-content: center;
}

.new_task_container {
  display: flex;
  justify-content: center;
}

.new_task_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  width: 25vw;
  border: black solid 3px;
  margin-top: 2.5rem;
  border-radius: 5px;
}
.newt_field {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 0;
}

.newt_input {
  width: 17rem;
  height: 30px;
  margin-top: 0.5rem;
  border-radius: 15px;
  padding: 5px;
  font-size: 1rem;
}

.newt_ta {
  height: 150px;
  width: 17rem;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
  color: white;
}

.newt_title {
  margin-top: 1.5rem;
  margin-bottom: 0.3rem;
}
.newt_label_description {
  margin-top: 1rem;
}

.newt_btn {
  margin-top: 0.5rem;
  background-color: rgb(250, 249, 249);
  color: black;
  margin-left: 10px;
  width: 18rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
}
.feed-table-container {
  display: flex;
  justify-content: flex-start;
  border: black 5px solid;
  width: 90vw;
  height: 70vh;
  flex-wrap: wrap;
}

.feed-whole {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.feeds-logo {
  font-family: "Permanent Marker", cursive;
  display: flex;
  flex-direction: column;
}

.letter {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
  margin: 0.5rem;
}

.feed-card {
  background-color: black;
  color: white;
  margin: 10px;
  height: 14rem;

  width: 20rem;
  border-radius: 12px;
  max-width: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-header {
  border-bottom: white 1px solid;
  padding: 0.3rem;
  font-size: 1.3rem;
  width: 92%;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 2px;
  text-align: left;
  align-self: flex-start;
}

.card-text {
  text-align: justify;
  padding-left: 4px;
}

.card-body {
  padding: 0 10px;
  height: 9.5rem;
  flex-direction: column;
  width: 18rem;
}
.actions1 {
  border: solid 1px;
  background-color: rgb(70, 79, 88);
  width: 15rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  border-radius: 10px;
}

.acts:hover {
  color: rgb(238, 238, 113);
}

.newt_button {
  background-color: black;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 90.5%;
  font-weight: bold;
}

.newt_back {
  color: black;
  margin-top: 10px;
}

.lgt-container {
  width: 6rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
}
.lgt_btn {
  width: 15%;
}

.show_whole {
  display: flex;
  justify-content: center;
}
.show_container {
  border: solid 2px black;
  border-radius: 10px;
  width: 30%;
  height: 20rem;
  margin-top: 5rem;
}

.show_title {
  background-color: black;
  color: white;
  height: 3rem;
  font-size: 1.5rem;
  padding-top: 1rem;
  font-weight: bold;
  padding-left: 0.5rem;
}

.show_description {
  font-size: 1.2rem;
  margin: 10px;
  height: 12rem;
}

.acts {
  align-content: center;
}

.show_actions {
  width: 10rem;
  margin-left: 8.5rem;
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.categ-box {
  width: 10rem;
}
