<p id="notice"><%= notice %></p>

  <div class="show_whole">
    <div class="show_container">
    <div class="show_content">
    <div class="show_title">
      
      <%= @category.name %>
    </div>
    <div class = "show_description">

    <div class="show_body"> 
      
      
    </div>
    </div>

    <div class="actions1 show_actions">
    <%= link_to 'Edit |', edit_category_path(@category),class:"acts" %> 
    <%= link_to 'Back', categories_path ,class:"acts"%>
    </div>
    </div>
    </div>
    </div>







